[submodule "ChangeLogGenerator"]
    path = ChangeLogGenerator
    url = https://github.com/WDpad753/ChangeLogGenerator.git
	
[submodule "UIBaseClass"]
    path = UIBaseClass
    url = https://github.com/WDpad753/UIBaseClass.git
	
[submodule "BaseClassLibrary"]
    path = BaseClassLibrary
    url = https://github.com/WDpad753/BaseClassLibrary.git

[submodule "Custom-Message-Box"]
	path = Custom-Message-Box
	url = https://github.com/WDpad753/Custom-Message-Box.git