<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggerSettings" type="BaseLogger.Models.loggerSettings, BaseLogger" />
		<section name="changelogSettings" type="BaseClass.Model.changelogSettings, BaseClass" />
	</configSections>

	<loggerSettings>
		<settings>
			<add key="AppName" value="AppTest"/>
			<add key="LoggingLevel" value="2"/>
			<add key="DebugState" value="1"/>
		</settings>
	</loggerSettings>
	<!--<changelogSettings>
		<settings>
			<add key="Repo" value="GitHub"/>
			<add key="Organisation" value="Test"/>
			<add key="Project" value="VMC Unit Tests"/>
			<add key="RepositoryName" value="Volunteer Management UI"/>
			<add key="PrevMapJSONHS" value=""/>
			<add key="PAT" value=""/>
		</settings>
	</changelogSettings>-->
</configuration>