<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggerSettings" type="BaseLogger.Models.loggerSettings, BaseLogger" />
	</configSections>

	<loggerSettings>
		<settings>
			<add key="AppName" value="ConsoleTest"/>
			<add key="LoggingLevel" value="2"/>
			<add key="DebugState" value="1"/>
		</settings>
	</loggerSettings>

	<appSettings>
		<add key="RegistryPath" value="TestPath"/>
	</appSettings>

</configuration>