<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- Fixed Upgrade ID -->
	<?define UpgradeCode="{71FF1343-80A9-4FC1-B034-D4CFDA18F400}"?>

	<!-- Define Main Product -->
	<Product Id="*"
			 Name="!(loc.ProductName)"
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)"
			 Manufacturer="!(loc.CompanyName)"
			 UpgradeCode="$(var.UpgradeCode)">

		<!-- Provide Package Details -->
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Manufacturer="!(loc.CompanyName)"
				 Description="!(loc.Description)"
				 Keywords="!(loc.Keywords)"
				 Comments="!(loc.Comments)"
				 Languages="!(loc.Language)"/>

		<!-- Downgrade Error Message -->
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

		<!-- Include .cab file into the .msi file -->
		<MediaTemplate EmbedCab="yes"/>

		<!-- Define Main Application Icon -->
		<!-- <Icon Id="icon.ico" SourceFile="$(var.Volunteer_Management_UI.ProjectDir)\app.ico" /> -->

		<!-- This will use icon.ico icon for the installer (shows up in Add/Remore Programs) -->
		<!--<Property Id="ARPPRODUCTICON">
			icon.ico
		</Property>-->

		<?if $(var.Configuration) = "Debug" ?>
		<?define InstallerInstructionPath = $(var.ProjectDir)\Assets\InstallerInstruction_Debug.rtf ?>
		<?else ?>
		<?define InstallerInstructionPath = $(var.ProjectDir)\Assets\InstallerInstruction.rtf ?>
		<?endif ?>

		<!-- Creating a WixUI for the Installer -->
		<!-- Include UI for directory selection -->
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />
		</UI>
		<!--<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\InstallerInstruction.rtf"/>-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.InstallerInstructionPath)" />
		<!--<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\banner.bmp"/>-->

		<!-- Define components, shortcuts, files, etc... for the installer -->
		<Feature Id="ProductFeature" Title="VolunteerManagementUISetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

</Wix>

